@using MVCWEB.ViewModel.Account

@model ForgotPasswordViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Forgot password";
}
<div class="container">
    <form asp-action="forgotpassword" method="post">
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label asp-for="Email">Email address</label>
            <input class="form-control" asp-for="Email" />
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("Partials/_ValidationScriptsPartial");
    }
}