
@{
    Layout = "_MainLayout";
}

<nav class="bg-dark py-3">
    <div class="tab project-tab px-3 w-100 d-flex flex-row ">
        <a class="" href="#">Testing</a>
        <a class="" href="#">Testing</a>
        <a class="" href="#">Testing</a>
    </div>
</nav>

@section PageStyles {

}